MIN_PROFIT_USD=0.05
SLIPPAGE_BPS=100
WS_DEBOUNCE_MS=50
JUPITER_COOLDOWN_MS=3000
JUPITER_RATE_LIMIT_PER_SEC=8
JITO_TIP_LAMPORTS=150000
RPC_URL_PRIMARY=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY_HERE
RPC_URL_SECONDARY=https://rpc.shyft.to?api_key=YOUR_KEY_HERE
